
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Design made with ❤️ by The App Brewery <br><strong>Functionality created by Nejc Furh</strong></p>
    
  </div>
</div>
</body>
</html>
